<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="ProductComponents"></ComponentGroup>
		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\JenkinsIntegration\bin\$(var.ConfigVal)\netcoreapp2.1\publish\">
		</DirectoryRef>
	</Fragment>
</Wix>
